@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --main-color:#3586ff;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all, 1s linear;
  line-height: 1.5;
}

html {
  font-size: 62.5%;
  /* overflow: hidden; */
  scroll-behavior: smooth;
}

body {
  /* min-height: 100vh; */
  padding-left: 30rem;
  background-color: #08313a;
  background-attachment: fixed;
  z-index: -1;
}

.main{
  background-image: url(/photo/texture.png);
}

section {
  padding: 1rem 5%;
   /* min-height: 100vh;  */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background:#202e36;
  background-image:url(/photo/texture.png) ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  flex-flow: column;
  padding: 8rem 2rem;
  width: 30rem;
  text-align: center;
}

header .logo {
  text-transform: uppercase;
  color: #fff;
  font-size: 3rem;
  font-weight: bolder;
}

header .logo span {
  text-transform: uppercase;
  color:red;
}

header .navbar a {
  display: block;
  font-size: 2rem;
  color: #fff;
  margin: 2rem 0;
}

header .navbar a:hover {
  letter-spacing: 0.5rem;
  color: red;
}

header .follow a {
  font-size: 2.5rem;
  color: #fff;
  margin: 0.7rem;
}

header .follow a:hover {
  color: red;
}

#menu-bars {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10000;
  background: var(--main-color);
  color: #fff;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  font-size: 3rem;
  cursor: pointer;
  display: none;
}

.cursor-1 {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 1rem;
  width: 1rem;
  background-color:#fff;
  pointer-events: none;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 10000;
}

.cursor-1.active {
  height: 7rem;
  width: 7rem;
  opacity: 0.3;
}

.cursor-2 {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 4rem;
  width: 4rem;
  border: 1rem solid var(--main-color);
  pointer-events: none;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 10000;
  transition: 0.3s linear;
}

.cursor-2.active {
  display: none;
}

.home {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .content {
  width: 50%;
}



.home .image {
  width: 50%;
  display: flex;
  justify-content: center;
}

.home .image img {
  width: 100%;
  border-radius: 60%;
  /* border: 6px solid #ac6c30;
  outline: 6px solid #3586ff; */
}

.gradient-border {
  --borderWidth: 10px;
  background:#08313a;
  background-image:url(/photo/texture.png) ;
  position: relative;
  border-radius: var(--transition);
  width: 100%;
  border-radius: 300px;
  /* border-top-left-radius: 10px ; */
 
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #ff0000, #011afd, #e5ff00, #fd04dc, #1eff00, #ff7b00, #00ffdd, #01771e);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
  border-radius: 50%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.name{
    color: #3586ff;
}





.hi{
    font-size: x-large;
    color: #fff;
}
.my-name{
    font-size: xx-large;
    color: #fff;
}
.info{
    font-size: large;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
}
/* .text{
    font-size: small;
    margin-bottom: 30px;
}  */
.btn{
    padding: 10px 20px;
    background-color: #3586ff;
    border-radius: 10px;
    color: #fff;
    font-size: medium;
}

.btn:hover{
    background-color: rgb(255, 255, 255);
    transition: .4s;
    color: #3586ff;
}

.cv{
  margin-right: 10px;
}



.heading{
  font-size: 4rem;
  padding-bottom: 1rem;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 3rem;
}

.heading span{
  color:var(--main-color);
  text-transform: uppercase;
}


.about .row-1{
  display: flex;
  align-items: center;
  gap: 2rem; 
  padding-bottom: 2rem;
}

.about .row-1 .image{
  width: 40%;
}

.about .row-1 .image img{
  height: 100%;
  width: 100%;
  object-fit:cover;
  /* border: 1rem solid #222222; */
  border-radius: 10px;
  /* box-shadow: 0 .5rem 1rem rgba(0,0,0,.1); */
  /* border: 6px solid #3586ff; */
}

.about .row-1 .gradient-border {
  --borderWidth: 10px;
  /* background: #1D1F20; */
  position: relative;
  border-radius: var(--borderWidth);
}
.about .row-1 .gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #ff0000, #011afd, #e5ff00, #fd04dc, #1eff00, #ff7b00, #00ffdd, #01771e);
  border-radius: calc(2 * var(--borderWidth));
  /* z-index: -1; */
  animation: animategradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animategradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.about .row-1 .content{
  width: 60%;
}

.about .row-1 .content h3{
  color: #ffffff;
  font-size: x-large;
}

.about .row-1 .content p{
  color: #ffffff;
  font-size: medium;
  padding: .5rem 0;
}

.about .row-1 .content .box-container{
display: flex;
flex-wrap:wrap;
gap: 1.5rem;
padding: 0.5rem 0;
}

.about .row-1 .content .box-container .box{
  flex: 1 1 20rem;
}

.email{
  text-transform: lowercase;
}

.about .row-1 .content .box-container .box span{
  color: var(--main-color);
}

.my-info{
  margin-right: 5px;
}

.about .row-2{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}

.about .row-2 .skills{
  flex: 1 1 40rem;
}

.about .row-2 .skills .progress{
   padding: 1rem 0;
}

.about .row-2 .skills .progress h3{
  display: flex;
  justify-content: space-between;
  padding: .7rem 0;
  font-size: 1.7rem;
  color: #ffffff;
  font-weight: 400;
}

.about .row-2 .skills .progress .bar{
  width: 100%;
  background:#fff;
  overflow: hidden;
  height: 1rem;
  border-radius: 50rem;
}

.about .row-2 .skills .progress .bar span{
  display: block;
  height: 100%;
  background: var(--main-color);
  border-radius: 50rem;
}

.about .row-2 .skills .progress:nth-child(1) .bar span{
   width: 80%;
}

.about .row-2 .skills .progress:nth-child(2) .bar span{
  width: 80%;
}

.about .row-2 .skills .progress:nth-child(3) .bar span{
  width: 75%;
}

.about .row-2 .skills .progress:nth-child(4) .bar span{
  width: 80%;
}

.about .row-2 .box-container{
  flex:1 1 40rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.about .row-2 .box-container .box{
  flex:1 1 15rem;
  background:#134349;
  background-image:url(/photo/texture.png) ;
  padding:2rem;
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.about .row-2 .box-container .box h3{
  color: var(--main-color);
  font-size: 2rem;
}

.about .row-2 .box-container .box p{
  color: #fff;
  font-size: 1.7rem;
  padding-top: .5rem;
}

/* about end */

/* education start */



.education .box-container .box{
  position: relative;
  flex:1 1 33rem;
  border-left: .2rem solid var(--main-color);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;    
}



.education .box-container .box::before{
  content: '';
  position: absolute;
  top:0; left:-1rem;
  height:2rem;
  width:2rem;
  border-radius: 50%;
  background:var(--main-color);
}

.education .box-container .box .content{
  background:#134349;
  background-image:url(/photo/texture.png) ;
  padding:1.5rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border-radius: .5rem;
}

.education .box-container .box .content span{
  color:#fff;
  font-size: 1.7rem;
  background:var(--main-color);
  border-radius: 50rem;
  padding:.4rem 1rem;
}

.education .box-container .box .content h3{
  font-size: 2.5rem;
  padding:.5rem 0;
  color:#fff;
}

.education .box-container .box .content h2{
  color:#fff;
}

.education .box-container .box .content p{
  font-size: 1.5rem;
  color: #ffffff;
  
}

/* education end */

/* experience start */

.experience_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.experience_frontend {
  grid-template-columns: 1fr;
}
.experience_tools {
  grid-template-columns: 1fr;
}

.experience_container > div {
  background: none;
  padding: 2.4rem 5rem;
  border-radius: 1.5rem;
  border: 1px solid #3586ff;
  transition: var(--transition);
  box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}
.experience_container > div:hover {
  background: transparent;
  border-color: #3586ff;
  cursor: default;
}

.experience_container > div h3 {
  text-align: left;
  margin-bottom: 2rem;
  color: #3586ff;
  font-size: x-large;
}

.experience_container > div h4 {
  font-size: large;
  color:aliceblue;
}

.experience_container > div .text-light {
  font-size: small;
  color: #ffffff;
}

.experience_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.experience_details {
  display: flex;
  gap: 1rem;
}

.experience-icons {
  font-size: x-large;
  color: #3586ff;
  /* background-image:url(/photo/texture.png) ; */
  margin-top: 6px;
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) ============== .*/

@media screen and (max-width: 1024px) {
  .experience_container {
    grid-template-columns: 1fr;
  }

  .experience_container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .experience_content {
    padding: 1rem;
  }
}

/* =============== MEDIA QUERIES (SMALL DEVICES) ============== .*/

@media screen and (max-width: 600px) {
  .experience_container {
    gap: 1rem;
  }

  .experience_container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
  
}


/* experience end */

/* service start */

.service .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.service .box-container .box{
  flex:1 1 30rem;
  text-align: center;
  padding:2rem;
  background:#134349;
  background-image:url(/photo/texture.png) ;
  border-radius: .5rem;
  box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

.service .box-container .box i{
  height:6rem;
  width:6rem;
  line-height: 6rem;
  font-size: 2.5rem;
  color:#fff;
  background:var(--main-color);
  border-radius: 50%;
}

.service .box-container .box h3{
  color:#fff;
  font-size: 2.2rem;
  padding-top: 1rem;
}

.service .box-container .box p{
  color:rgba(255, 255, 255, 0.699);
  font-size: 1.7rem;
  padding-top: .5rem;
}

/* service end */


/* portfolio start */

.portfolio_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio_item {
  padding: 1.3rem;
  border-radius: 1.5rem;
  border: 1px solid transparent;
  border: 1px solid var(--main-color);
}

.portfolio_item h3 {
  font-size: x-large;
  margin: 1.2rem 0 2rem;
  text-align: center;
}

.portfolio_item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio_item_image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio_item_image img{
  width: 100%;
}

.demo_button {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) ============== .*/

@media screen and (max-width: 1024px) {
  .portfolio_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* =============== MEDIA QUERIES (SMALL DEVICES) ============== .*/

@media screen and (max-width: 600px) {
  .portfolio_container {
    grid-template-columns: repeat(1, 1fr);
  }
  .gradient-border{
   
    margin-bottom: 100px;
  }
}

/* portfolio end */

/* photography start */

.photography .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.photography .box-container .box{
  flex:1 1 30rem;
  height:25rem;
  /* position: relative;
  overflow:hidden; */
  border:1rem solid #134349;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  background:#ffffff;
  border-radius: .5rem;
}

.photography .box-container .box img{
  height:100%;
  width:100%;
  object-fit: cover;
  border-radius: .5rem;
  /* position: relative; */
  z-index: 1;
}


/* photography start */

/* contact start */

.container.contact_container {
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}

.contact_container h4{
  font-size: x-large;
  color: #3586ff;
}
.contact_container h5{
  color: #ffffff;
  font-size: medium;
  font-weight: 500;
}
.contact_container a{
  font-size: small;
  color: #327fb6;
}

.contact_options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact_option {
  background: transparent;
  padding: 2rem 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid #3586ff;
  transition: var(--transition);
}

.contact_icon {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 2rem;
  color: #3586ff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid #3586ff;
  resize: none;
  color: var(--text-white);
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) ============== .*/

@media screen and (max-width: 1024px) {
  .container.contact_container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* =============== MEDIA QUERIES (SMALL DEVICES) ============== .*/

@media screen and (max-width: 600px) {
  .container.contact_container {
    width: var(--container-width-sm);
  }
}

/* contact end */

body {
  display: flex;
  align-items: flex-end;
  min-height: 100vh;
}

.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  background-image:url(/photo/texture.png) ;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
  
}

.social-icon{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item{
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}



.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-position-x: 0px;
  }
}



@media screen and (max-width: 991px) {
  html {
    font-size: 55%;
  }

  body {
    padding: 0;
  }

  #menu-bars {
    display: initial;
  }

  header {
    left: -120%;
  }

  header.active {
    left: 0%;
  }

  .cursor-1,
  .cursor-2 {
    display: none;
  }

  .home {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  
  .home .content {
    width: 100%;
  }
  
  .home .image {
    width: 100%;
  }

}

@media screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }

  header {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .about .row-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; 
    padding-bottom: 2rem;
  }
  .about .row-1 .image{
    width: 100%;
  }
  .about .row-1 .content{
    width: 100%;
  }
}

@media screen and (max-width: 992px) and (min-width: 767px){
    .home .image {
        width: 80%;
      }

    .hi{
        font-size: x-large;
    }
    .my-name{
        font-size: xx-large;
    }
    .info{
        font-size: large;
        margin-bottom: 10px;
    }
    .text{
        font-size: large;
        margin-bottom: 30px;
    }

    .description{
      display: none;
    }
}
